.content-topic-tab {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 0 20px 0;
    overflow: hidden;
    background-color: #dbe5cd;
}
.content-topic-tablinks-left {
    margin-left: 100px;
    font-size: 30px;
    font-weight: bolder;
}
.tablinks-right button {
    position: relative;
    float: right;
    padding: 15px 20px 15px 20px;
}
.content-topic-tap-right {
    margin-right: 120px;
}
#translation-novel{
    font-size: 25px;
    float: left;
}
.tabcontent {
    display: none;
    font-size: 20px;
}
